.dropDown {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5); 
  &__block {
    position: absolute;
    z-index: 10;
    top: 70px;
    left: 317px;
    padding: 25px;
    background: #fff;
    border-radius: 16px;
    width: 420px;
    height: 300px;
    
  }
  &__skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7em;
    margin-top: 1em;
    &_btn {
      padding: 5px;
      border-radius: 10px;
      border: 0.5px solid black;
    }
    &_btn.active {
      background: aqua;
    }
  }
}

.dropDown.active {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center
}

