.CV4 {
    &__title {
        font-size: 1em;
    }
    &__language {
        width: 300px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid black;
        margin-left: 15px;
        &_level {
            width: 110px;
            height: 40px;
            margin-left: 10px;
            border-radius: 10px;
            border: 1px solid black;
        }
        &_block {
            display: flex;
            align-items: center;
            margin: 1em 0;
        }
    }
    &__sert {
        width: 420px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid black;
        margin-left: 15px;
    }
    &__btn {
        display: block;
        margin-top: 1em;
        height: 25px;
        width: 100px;
        border-radius: 10px;
        border: 1px solid black;
        
    }
}