.hard__skills {
  display: flex;
  align-items: center;
  gap: 10px;
  &_block {
    position: relative;
    width: 420px;
    height: 40px;
  }
  &_select {
    width: 420px;
    height: 40px;
    border-radius: 10px;
  }
  &_cheaps {
    position: absolute;
    display: flex;
    max-width: 420px;
    height: 40px;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    top: 0px;
    left: 5px;
    visibility: hidden;
  }
  &_cheaps.active {
    visibility: visible;
  }
  &_cheap {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: grey;
    border-radius: 6px;
    padding: 5px 5px;
    height: 30px;
  }
}
